{% load staticfiles %}
<html>

<head>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">
        <div class="holder">
            <div class="sun"></div>
            <!--GROUND-->
            <div class="ground">
                <div class="circle-right">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                </div>                
                
                <div class="circle-left-left">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                <div class="line4"></div>
                </div>
                <div class="line-center"></div>
                <div class="line-right"></div>
                <div class="line-left"></div>
            </div>
            <!--GROUND-->
            
            <!--Trees-->
            <div class="tree-left-right">
            <div class="background"></div>
            <div class="background2"></div>

            <div class="line-one"></div>
            <div class="line-two"></div>
            <div class="line-three"></div>
            <div class="line-four"></div>
            <div class="line-five"></div>
            <div class="line-six"></div>
            </div>            
            
            <div class="tree-left-left">
            <div class="background22"></div>
            <div class="background33"></div>
            <div class="line-one2"></div>
            <div class="line-two2"></div>
            <div class="line-three2"></div>
            <div class="line-four2"></div>
            <div class="line-five2"></div>
            <div class="line-six2"></div>
            <div class="line-seven2"></div>
            <div class="line-eight2"></div>
            </div>
                    
            
            <div class="tree-right-left">
            <div class="background222"></div>
            <div class="background2222"></div>
            <div class="line-one"></div>
            <div class="line-two"></div>
            <div class="line-three"></div>
            <div class="line-four"></div>
            <div class="line-five"></div>
            <div class="line-six"></div>
            </div>
                
            <div class="tree-right-right">
            <div class="background22222"></div>
            <div class="background33333"></div>
            <div class="line-one"></div>
            <div class="line-two"></div>
            <div class="line-three"></div>
            <div class="line-four"></div>
            <div class="line-five"></div>
            <div class="line-six"></div>
            <div class="line-seven"></div>
            <div class="line-eight"></div>
            </div>       
                
            <!--Trees-->

            <!--HOUSE-->
            <div class="house">
                
                <!--Frame-->
                <div class="house-down"></div>
                <div class="house-frame-right"></div>
                <div class="house-frame-left"></div>
                <div class="house-frame-top"></div>
                
                <div class="house-frame-top-right"></div>
                <div class="house-frame-top-right-line"></div>
                <div class="house-frame-top-right-line2"></div>
                <div class="house-frame-top-right-line3"></div>             

                
                <div class="top-lines-holder">
                <div class="house-frame-top-right2"></div>
                <div class="house-frame-top-right-line22"></div>
                <div class="house-frame-top-right-line33"></div>
                <div class="house-frame-top-right-line44"></div>
                </div>
                
                
                <div class="top-window-frame">
                    <div class="top-window-frame-line1"></div>
                    <div class="top-window-frame-line2"></div>
                    <div class="top-window-frame-line3"></div>
                
                </div>
                
                <div class="center-window">
                <div class="up"></div>
                <div class="down"></div>
                <div class="center"></div>
                </div>
                
                <div class="center-window-frame">
        
                <div class="backthing-window1"></div>
                <div class="backthing-window2"></div>
                <div class="backthing-window3"></div>
                <div class="backthing-window3"></div>
                    <!--// TODO: Four Needed-->
                
                </div>
                <!--Frame-->
                
                <!--DOOR-->
                <div class="background"></div>
                <div class="door">
                <div class="red-door-holder">
                    <div class="red-door">
                        
                    <div class="lock1"></div>
                    <div class="lock-det"></div>
                    <div class="lock-det-line-one"></div>
                    <div class="lock-det-line-two"></div>
                        
                    <div class="lock2"></div>
                    <div class="lock2-holder">
                    <div class="lock-det2"></div>
                    <div class="lock-det-line-one2"></div>
                    <div class="lock-det-line-two2"></div>
                    </div>
                    <div class="line1-top"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                    <div class="line5"></div>
                    <div class="line6"></div>
                    <div class="line7"></div>
                    <div class="line8"></div>
                    <div class="line9"></div>
                    </div>
                    </div>
                <div class="back-thing1"></div>
                <div class="back-thing2"></div>
                <div class="back-thing3"></div>
                <div class="back-thing4"></div>
                <div class="back-thing5"></div>
                </div>
                <!--DOOR-->
                
                
                
            </div>
            
        
            <!--HOUSE-->

        </div>
        
         <div class="welcomenote">
    
    <h1>Have a Nice Day!!</h1>
    
    </div>
    
    <div class="round">
      <img src="{% static 'images/profilepic.jpg' %}"/>
    </div>
        
       

    </div>
    
   
    
    

</body>
</html>